p,
.padding-pageheader {
  text-align: center
}

.rescue {
  text-align: left
}

.display{
  display: inline;
}


.width-input{
  width: 30%;
}

.width-divider{
  width: 30%;
}

.text-align-center{
  text-align: center
}

.inputs{
  margin-left: auto;
  margin-right: auto;
}

.ph6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

.b--action-primary, .bg-action-primary, .bg-action-primary:hover, .bg-action-primary:active,  .bg-action-primary:focus {
  background-color: #134cd8;
  border-color: #134cd8;
}

@media screen and (max-width: 85em){
  .width-input{
    width: 50%;
  }
  .width-divider{
    width: 50%;
  }
}


@media screen and (max-width: 40em){
  .width-input{
    width: 100%;
  }
  .width-divider{
    width: 100%;
  }
  .money{
    display: block;
    margin-top: 4px;
  }
}

