p:disabled {
  background: transparent;
}

.border-red {
  border-color: red;
}

input:read-only {
  background-color: transparent;
}

.padding-pageheader {
  text-align: center
}

.rescue {
  text-align: left
}

.display {
  display: inline;
}


.width-input {
  width: 30%;
}

.width-divider {
  width: 30%;
}

.text-align-center {
  text-align: center
}

.inputs {
  margin-left: auto;
  margin-right: auto;
}

.ph6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

.b--action-primary,
.bg-action-primary,
.bg-action-primary:hover,
.bg-action-primary:active,
.bg-action-primary:focus {
  background-color: #134cd8;
  border-color: #134cd8;
}

.notification-container {
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  z-index: 999999
}

.bottom-left {
  bottom: 12px;
  left: 12px;
  transition: transform .6s ease-in;
  animation: toast-in-left .7s;
}

.bg-color-sucess {
  background: #5cb85c;
}

.bg-color-error {
  background: #d9534f;
}

.notification {
  transition: .3s ease;
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 30px;
  margin-bottom: 15px;
  width: 300px;
  max-height: 100px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 10px #999;
  color: #000;
  opacity: .9;
  background-position: 15px;
  background-repeat: no-repeat;
}

.notification-title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 6px;
  width: 100%;
  height: 18px;
}

.notification-middle {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 2%;
  margin-bottom: 0;
  width: 100%;
  height: 18px;
}

.notification-message {
  margin: 0;
  text-align: left;
  height: 18px;
  margin-left: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-image {
  float: left;
  margin-right: 15px;
}

.notification-image img {
  width: 30px;
  height: 30px;
}

.toast {
  height: 100%;
  width: 130%;
  min-width: 300px;
  color: #fff;
  padding: 20px 15px 20px 10px;
}

.desktop-or-mobile {
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
}

.vtex-modal__modal,
.vtex-styleguide-9-x-mh100 {
  height: calc(100% / (var(--aspect-ratio)));
  aspect-ratio: 4/3;
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);

  }

  to {
    transform: translateX(0);
  }
}

.history {
  position: absolute;
}

@media screen and (max-width: 85em) {
  .width-input {
    width: 50%;
  }

  .width-divider {
    width: 50%;
  }

}

@media screen and (max-width: 40em) {
  .width-input {
    width: 100%;
  }

  .width-divider {
    width: 100%;
  }

  .money {
    display: block;
    margin-top: 4px;
  }

  .history {
    margin-top: 4px;
    position: initial;
    text-align: center;
    display: block;
  }

  .toast {
    height: 100%;
    width: 110%;
    min-width: 300px;
    color: #fff;
    padding: 20px 15px 20px 10px;
  }

  .desktop-or-mobile {
    display: block
  }

  .b--action-primary {
    width: 100%
  }

}
