p,
.padding-pageheader {
  text-align: center
}

.display{
  display: inline;
}


.width-input{
  width: 30%;
}

.text-align-center{
  text-align: center
}

.inputs{
  margin-left: auto;
  margin-right: auto;
}
